* {
    padding: 0;
    margin: 0;
}
body {
    background-color: aliceblue;
}
#header-img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#logo {
    display: flex;
    width: 50%;
    padding: 2%;
    float: left;
}
#nav-bar {
    display: flex;
    justify-content: space-around;
}
.nav-link {
    margin-top: 10%;
}
#comp-name {
    margin: 2%;
}
#section {
    clear: both;
}