* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #f0eaea;
}
#header-img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#logo {
    display: flex;
    width: 50%;
    padding-top: 1%;
    padding-left: 2%;
    float: left;
}
#nav-bar {
    display: flex;
    justify-content: space-around;
}
.nav-link {
    margin-top: 5%;
}
#comp-name {
    margin: 2%;
}
#form {
    clear: both;
    margin: auto;
    width: 80%;
}
#form-head {
    display: flex;
    justify-content: center;
}
#email {
    display: flex;
    justify-content: center;
}
#inp-email {
    height: 25px;
    width: 30%;
    margin: 1%;
}
#start-btn {
    display: flex;
    justify-content: center;
}
#get-btn{
    height: 30px;
    width: 20%;
    border: none;
    background-color: orange;
    font-weight: bold;
    font-size: 18px;
    border-radius: 2px;
}
#premium {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 60%;
}
#pre-mat-img {
    height: 50px;
    width: 25px;
    margin-top: 50px;
}
#pre-content {
    margin-top: 40px;
}
#lab {
    font-size: 16px;
}
#lab1 {
    width: 720px;
}
#video-tag {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
#bunny {
    width: 100%;
}
#price-list {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    margin-top: 5%;
}
#price-tag-1, #price-tag-2, #price-tag-3{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
}
label {
    text-align: center;
    padding: 2%;
}
#price-head {
    font-weight: bold;
    background-color: lightgray;
    padding: 5%;
}
#price-tag {
    font-weight: bold;
    padding: 5%;
    font-size: 25px;
}
#price-btn {
    background-color: orange;
    width: 40%;
    margin: auto;
    padding: 2%;
    height: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-style: none;
}
#footer {
    margin: auto;
    width: 80%;
    margin-top: 5%;
    background-color: lightgray;
}
#foot-nav-bar {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
}
a{
    text-decoration: none;
    color: black;
}
.foot-nav-link {
    margin-left: 4%;
}
p {
    display: flex;
    padding: 1%;
    justify-content: flex-end;
}